{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Mesa
{% endblock %}

{% block codigoDinamico %}
<div class="container">
    <h1> Mesas </h1> <br> <br> <br>
{% for mesa in mesa %}
    <div class="container">
        <table class="table table-hover text-center">
            <tbody>
                <th scope="col">ID</th>
                <tr class="table-secondary text-center">
                    <th>  {{ mesa.id }}</th>
            </tbody>
        </table>
    </div>
    <div class="container">
        <button type="button" class="btn btn-outline-success">
            <a href="{% url 'Crear Mesa' %}">Nueva Mesa</a>
        </button>
    </div>

</div>
{% endfor %}

{% endblock %}